body {
    font-family: 'Arimo', sans-serif;
    background-color: #F9F9F9;
    /* background: url("../img/hp_backgroundb.jpg") no-repeat top left fixed;
    background-size: 100%;*/
}
.jumbotron {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
.dish-search-box {
    background-color: #fff;
    border: 1px solid #D4D4D4;
    padding: 15px;
}

.button-position {
    text-align: left;
    margin: 14px 0;
}
.navbar-header {
    float: left !important;
    }

#autocomplete-results {
    display: block; 
    position:relative
} 

.btn-add {
    margin: 25px 0 0 0 !important;
}

.center_padding {
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0!important;
}


.footer {
    clear: both;
    background: #282e28;
    color: #fff;
    position:fixed;
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    line-height: 25px; 
}

@media (min-width: 1200px) {
    .container {
        width: 980px;
    
    }
}
h2 {

}

#meals_display {
    margin-bottom: 40px;
}

.display_inputs .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 0px rgba(0,0,0,.075);
    
}
