body {
    font-family: 'Arimo', sans-serif;
    background-color: #F9F9F9;
    /* background: url("../img/hp_backgroundb.jpg") no-repeat top left fixed;
    background-size: 100%;*/
}
.jumbotron {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
.dish-search-box {
    background-color: #fff;
    border: 1px solid #D4D4D4;
    padding: 5px;
}

.button-position {
    text-align: left;
    margin: 14px 0;
}
.navbar-header {
    float: left !important;
    }

.ui-widget.ui-widget-content {
    right: auto !important;
    left: auto !important;

}

#autocomplete-results {
    display: block; 
    position:relative
} 

.ui-autocomplete {
    position: absolute;
    width: 90% !important;
    max-width: 550px !important;
    /* overflow-x:scroll !important; */
}

.btn-add {
    margin: 25px 0 0 0 !important;
}

.footer {
    clear: both;
    background: #282e28;
    color: #fff;
    position:fixed;
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    line-height: 25px; 
    
}

